<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            消费项目设置 <small>Consume Item</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Dashboard")">
                    首页
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    行销策划
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    消费项目设置
                </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th-large"></i>消费项目列表
                </div>
                <div class="tools">
                </div>
                <a href="javascript:void();return false;" onclick="addConsumeitem()" class="btn btn-xs blue" style="float:right; ">
                    <i class="fa fa-plus"></i> 新增
                </a>
            </div>
            <div class="portlet-body">
                <table id="tblConsumeItem" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>消费项目</th>
                            <th>价格</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="ajax-modal" class="modal fade" tabindex="-1" data-width="760" data-backdrop="static" data-keyboard="false">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="setTextValue()" aria-hidden="true"></button>
                    <h4 class="modal-title">消费项目详细</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="PackageAmount">项目名称:<span class="required">*</span></label>
                                <div class="col-md-4">
                                    <input type="text" id="txtItemname" name="txtItemname" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="txtQyName">项目价格:<span class="required">*</span></label>
                                <div class="col-md-4">
                                    <input type="text" id="txtItemprice" name="txtItemprice" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" onclick="setTextValue()" class="btn">关闭</button>
                    <button type="button" onclick="subForm()" class="btn blue">保存</button>
                    <input type="hidden" id="hidCid" value="0" />
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
@section styles{
    <link href="@Url.Content("~/assets/plugins/datatables/css/jquery.dataTables.min.css")" rel="stylesheet" />
}

@section scripts{
    <script src="@Url.Content("~/assets/plugins/datatables/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script>
        var ConsumeItem = function () {
            var onPageLoad = function () {
                initConsumeItemTable();
            };

            var initConsumeItemTable = function () {
                var consumeItemTable = $("#tblConsumeItem").DataTable({
                    "processing": false,
                    "serverSide": false,
                    "ajax": {
                        "type": "post",
                        "url": "@Url.Action("GetAllConsumeItems", "ConsumeItem")",
                        "dataSrc": "",
                        "cache": false
                    },
                    "columns": [
                        { "data": "ItemName" },
                        { "data": "ItemPriceDesc" },
                        { "data": "Operation" }
                    ],
                    "columnDefs": [
                        {
                            "targets": [2],
                            "orderable": false
                        }
                    ],
                    "order": [[0, "asc"]],
                    "deferRender": true,
                    "scrollX": true,
                    "paging": true,
                    "ordering": true,
                    "info": true,
                    "retrieve": true,    //重复初始化，索引到同一个Datatables实例
                    //"pagingType": "full_numbers",
                    "pageLength": 10,
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "language": {
                        "emptyTable": "没有数据",
                        "loadingRecords": "加载中...",
                        "processing": "查询中...",
                        "search": "查询: ",
                        "lengthMenu": "显示_MENU_条",
                        "zeroRecords": "没有数据",
                        "paginate": {
                            "previous": "上一页",
                            "next": "下一页",
                            "first": "第一页",
                            "last": "最后一页"
                        },
                        "info": "显示_START_-_END_，共_TOTAL_条记录",
                        "infoEmpty": "0条记录",
                        "infoFiltered": "(查询前有_MAX_条记录)"
                    }
                });

                $("#tblConsumeItem tbody").on("click", "tr", function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }
                    else {
                        consumeItemTable.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });

                $("#tblConsumeItem_filter input").addClass("form-control input-medium input-inline");
                $("#tblConsumeItem_length select").addClass("form-control input-xsmall input-inline");
            };

            return {
                Init: function () {
                    $("#sidebar_menu_sell_setting").addClass("active");
                    $("#sidebar_menu_consume_item").addClass("active");
                    App.blockUI({ boxed: true });
                    onPageLoad();
                    window.setTimeout(function () {
                        App.unblockUI();
                    }, 1000);
                },
                Edit: function (id) {
                    var data = { id: id };
                    var url = '@Url.Action("GetConsumeitemModel", "ConsumeItem")';
                    setValue(url, data, 1);
                    $('#hidCid').val(id);
                    handleAjaxModal();
                },
                Del: function (id) {
                    var data = { id: id };
                    var url = '@Url.Action("DeleteConsumeItem", "ConsumeItem")';
                    setValue(url, data, 0);
                }
            };
        }();
        function addConsumeitem() {
            handleAjaxModal();
        }
        function subForm() {
            var itemName= $('#txtItemname').val();
            var itemPrice = $('#txtItemprice').val();

            var ctid = $('#hidCid').val();
            //var cdiscount = $('#txtDiscount').val();
            //var pkgdiscount = $('#txtPkgdiscount').val();
            //var ctype = $('#txtCtype').val();
           
            if (!itemName) {
                alert("请输入消费项目名称");
                return;
            } else if (!itemPrice) {
                alert("请输入消费项目价格");
                return;
            } else if (isNaN(Number(itemPrice))) {
                alert("消费价格输入不正确");
                return;
            }
            else if (Number(itemPrice) <= 0)
            {
                alert("消费价格必须大于0");
                return;
            }
            if (ctid>0) {
                var data = { id: ctid,citemName: itemName, citemPrice: itemPrice };
                var url = "@Url.Action("EditConsumeItem", "ConsumeItem")";
                setTextValue();
                setValue(url,data,0);
            } else {
                var data = { citemName: itemName, citemPrice: itemPrice };
                var url = "@Url.Action("AddConsumeItem","ConsumeItem")";
                setTextValue();
                setValue(url,data, 0);
            }
        }
        function closedilog() {
            window.location = "@Url.Action("Index","ConsumeItem")";
        }
        function setTextValue() {
            $('#hidCid').val('0');
            $('#txtItemname').val('');
            $('#txtItemprice').val('');
        }
        function setValue(url, data, type) {
            $.ajax({
                "type": "post",
                "url": url,
                "dataType": "json",
                "data": data,
                "async": true,
                "cache": false,
                "success": function (re) {
                    if (re.Success) {
                        if (type == 1) {
                            $('#txtItemname').val(re.Data.ItemName);
                            $('#txtItemprice').val(re.Data.ItemPrice);
                        }
                        else {
                            alert(re.Message);
                            closedilog();
                        }
                    }
                    else {
                        alert(re.Message);
                    }
                },
                "error": function () {

                }
            });
        }
        var handleAjaxModal = function () {
            var $modal = $('#ajax-modal');
            $('body').modalmanager('loading');
            setTimeout(function () {
                $modal.modal();
            }, 1000);
        };
        $(function () {
            ConsumeItem.Init();
        });
    </script>
}