@model Zeta.WisdCar.Online.Models.CustomerAndCard
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            会员充值 <small>Clubcard Recharge</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Dashboard")">
                    首页
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    充值消费
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                    会员充值
                </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>充值管理
        </div>
        <!-- <div class="tools">
        </div>
        <a href="#" class="btn btn-xs blue" style="float:right; ">
            <i class="fa fa-plus"></i> 新增
        </a> -->
    </div>


    <div class="portlet-body">

        <div class="portlet box" style=" border:1px solid #bde9f1;">
            <div class="portlet-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="txtQyCardNo">会员卡号</label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control" })
                            @*<input type="text" id="txtQyCardNo" name="CardNo" class="form-control" placeholder="">*@
                        </div>
                        <label class="col-md-2 control-label" for="txtQyMobileNo">手机号码</label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                            @*<input type="text" id="txtQyMobileNo" name="MobileNo" class="form-control" placeholder="">*@
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <a id="btnQy" href="javacript:void(0);" onclick="searchModel(); return false;" class="btn btn-md blue">
                                <i class="fa fa-search"></i> 查询
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">明细信息</h3>
            </div>
            <div class="panel-body">
                <div class="portlet box" style="margin-bottom:10px; border:1px solid #bde9f1;">
                    <div class="portlet-body">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="txtQyName">姓名：</label>
                                <div class="col-md-4">
                                    
                                    <label class="control-label" id="lblName">@Model.CustName</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" >手机号码：</label>
                                <div class="col-md-4">
                                   
                                    <label class="control-label" id="lblMno">@Model.MobileNo</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="txtQyICNo">身份证号：</label>
                                <div class="col-md-4">
                                   
                                    <label class="control-label" id="lblIcno">@Model.ICNo</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="txtQyCardNo">会员卡号：</label>
                                <div class="col-md-4">
                                   
                                    <label class="control-label" id="lblCardno">@Model.CardNo</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="ddlCardType">会员卡类型：</label>
                                <div class="col-md-4">
                                   
                                    <label class="control-label" id="lblCardtname">@Model.CardTypeName</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="ddlCardState">会员卡状态：</label>
                                <div class="col-md-4">
                                    <label class="control-label" id="lblCardstatu">@Model.CardStatuName</label>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.CardID)
                            @Html.HiddenFor(m=>m.CardStatu)
                            @*<div class="form-group">
                                <label class="col-md-2 control-label" for="txtQydate">截至日期：</label>
                                <div class="col-md-4">
                                    <label class="col-md-2 control-label" for="ddlCardState">20150831</label>
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label class="col-md-1 control-label"></label>
                                <div class="col-md-1">
                                    <a id="btnQy" href="javacript:void(0);" onclick="recharge(0); return false;" class="btn btn-md blue"> 充值现金 </a>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1"> <a id="btnQy" href="javacript:void(0);" onclick="recharge(1); return false;" class="btn btn-md blue"> 购买套餐 </a></div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- END PAGE CONTENT-->
@section scripts{
    <script>
        function recharge(type) {
            var url;
            var cardid = $('#CardID').val();
            var cardstatu = $('#CardStatu').val();
            
            if (cardid==0) {
                return;
            }
            if(cardstatu!=0){
                alert("当前会员卡状态不允许充值");
                return;
            }
            if (type==0) {
                url = "@Url.Action("RechargeCash","Recharge")"+'?id='+cardid;
            } else {
                url = "@Url.Action("RechargePkg","Recharge")"+'?id='+cardid;
            }
            if (url) {
                window.location.href = url;
            }
        }
        function searchModel()
        {
            var mno = $('#MobileNo').val();
            var cardno = $('#CardNo').val();
            if (!mno && !cardno)
            {
                alert("请输入会员卡号或客户手机号以便查询");
                return;
            }
            //SearchCustomerAndCard
            $.ajax({
                "type": "post",
                "url": "@Url.Action("SearchCustomerAndCard", "Recharge")",
                        "dataType": "json",
                        "data": { MobileNo: mno,CardNo:cardno },
                        "async":true,
                        "cache": false,
                        "success": function (re) {
                            if (re.Success)
                            {
                                $('#lblName').html(re.Data.CustName);
                                $('#lblMno').html(re.Data.MobileNo);
                                $('#lblIcno').html(re.Data.ICNo);
                                $('#lblCardno').html(re.Data.CardNo);
                                $('#lblCardtname').html(re.Data.CardTypeName);
                                $('#lblCardstatu').html(re.Data.CardStatuName);
                                $('#CardID').val(re.Data.CardID);
                                $('#CardStatu').val(re.Data.CardStatu);
                            }
                            else
                            {
                                alert(re.Message);
                            }
                        }, 
                        "error": function () {
                            alert(re.Error);
                        }
            });
        }
        var ClubcardRecharge = function () {
            var onPageLoad = function () {

            };

            return {
                Init: function () {
                    $("#sidebar_menu_recharge_consume").addClass("active");
                    $("#sidebar_menu_clubcard_recharge").addClass("active");
                    App.blockUI({ boxed: true });
                    onPageLoad();
                    window.setTimeout(function () {
                        App.unblockUI();
                    }, 1000);
                }
            };
        }();

        $(function () {
            ClubcardRecharge.Init();
        });
    </script>
}